.search-container {
  position: relative;
  width: 50px;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: right center;
}

.search-click {
  position: absolute;
  width: 100%;
  right: 0;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: right center;
}

.search-icon {
  position: absolute;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  transition: opacity 0.3s ease-in-out;
}

.search-click:focus {
  width: 300px;
}

.search-container:has(.search-click:focus) .search-icon {
  opacity: 0;
}