.search-container {
  position: relative;
  width: 200px; /* Initial width */
  transition: width 0.3s ease-in-out;
}

.search-click {
  width: 100%;
  padding-left: 35px; /* Make space for the icon */
  transition: width 0.3s ease-in-out;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust as needed */
  height: 20px;
  transition: opacity 0.3s ease-in-out;
}

.search-click:focus {
  width: 300px; /* Expanded width */
}

.search-click:focus + .search-icon {
  opacity: 0;
}